.cart-item {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto; 
    column-gap: 1.5rem;
    align-items: center;
  }
  .cart-item-img {
    width: 75px;
    height: 50px;
    object-fit: cover;
    border-radius: var(--radius);
  }
  .cart-item-name {
    margin-bottom: 0.15rem;
  }
  .cart-item-price {
    margin-bottom: 0;
    font-size: 0.75rem;
    color: var(--clr-grey-3);
  }
  .cart-item-remove-btn {
    background: transparent;
    border-color: transparent;
    color: var(--clr-grey-5);
    letter-spacing: var(--spacing);
    cursor: pointer;
  }
  .cart-item-amount {
    margin-bottom: 0;
    text-align: center;
    color: var(--clr-grey-3);
    line-height: 1;
  }
  .cart-item-increase-btn,
  .cart-item-decrease-btn {
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.25rem;
  }