.cart-item {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto; 
    column-gap: 1.5rem;
    align-items: center;
  }
  .cart-item-img {
    width: 75px;
    height: 50px;
    object-fit: cover;
    border-radius: 0.25rem;
  }
  .cart-item-name {
    margin-bottom: 0.15rem;
  }
  .cart-item-price {
    margin-bottom: 0;
    font-size: 0.75rem;
    font-weight: bold;
    color: #8a2b06;
  }
  .cart-item-remove-btn {
    background: transparent;
    border-color: transparent;
    color: hsl(210, 22%, 49%);
    letter-spacing: 0.1rem;
    cursor: pointer;
    padding:0;
  }
  .cart-item-amount {
    margin-bottom: 0;
    text-align: center;
    color: hsl(209, 34%, 30%);
    line-height: 1;
  }
  .cart-item-increase-btn,
  .cart-item-decrease-btn {
    background: transparent;
    border-color: transparent;
    color: hsl(21, 62%, 45%);
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.25rem;
  }